.task {
    height: 50px;
    width: 488px;
    border: 2px solid black;
    background: springgreen;
    text-align: left;
    margin: 0 auto;
    padding-left: 10px;
    padding-bottom: 15px;
    position: relative;

}

.ptask {
    width: 100%;
    font-size:18px;
    font-weight:bold;
    color:#000000;
}
.button {
    position: absolute;
    top:25px;
    right:-3px;
    height: 38px;
    width: 38px;
    border-radius: 30%;
    background: orangered;
}
.btn {
    height: 30px;
    width: 68px;
    border-radius: 10%;
    background: greenyellow;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}