.area {
    background: springgreen;
    width: 60%;
    margin-top: 10px;
    border: 2px solid black;

}

.add {
    height: 38px;
    width: 85px;
    background: #009900;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    position: absolute;
    top: 9px;
    right: 2px;
}
.newtask {
    width: 60%;
    margin: 0 auto;
    background: #2aacc8;
    position: relative;
}
